{% extends 'forgotbase.html' %}
{% load static %}
{% block body %}

<div class="container main-content">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 article">

      <h1>Password Reset</h1>

      <p>We just sent an email to you with a link to reset your password.</p>

      <p>If you don’t see an email from us in your inbox or spam/junk folder
        within 10–15 minutes, please contact us via the support form at <a
          href="https://support.realpython.com">support.realpython.com</a> or
        send
        us an email at <code>info@realpython.com</code> to request a password
        reset.</p>

    </div>
  </div>
</div>

{% endblock%}
