
{% extends 'forgotbase.html' %}
{% load static %}
{% block body %}
<div class="container main-content">

    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 article">

            <h1>Password Reset</h1>

            <p>Forgotten your password? Enter your email address below, click
                the button, and we’ll send you a link to&nbsp;reset&nbsp;it:</p>

            <div class="mx-auto" style="max-width: 400px;">

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <button type="submit">Send Email</button>
                </form>

            </div>

            <div class="alert alert-primary">
                <strong>Having trouble accessing your account?</strong> </p>
            </div>

        </div>
    </div>

</div>
{% endblock%}
