{% extends 'index.html' %}


{% block title %}
    Add Product
    
{% endblock  %}

{% block body %}
    <center>
        <form  action="" method="post" enctype="multipart/form-data">
            <div style="width:fit-content; display:flex;flex-direction:column; align-items:center; margin: 50px; text-align:left;">
                <div style="text-align: left;">
            {% csrf_token %}
                    {{form.as_p}}
                </div>
            </div>
            
            <button class="btn btn-success add" type="sublit">Add</button>
        </form>
    </center>
    
{% endblock  %}